@font-face {
  font-family: "maison-neue";
  src: url("Font.woff2") format("woff2"), url("Font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "maison-neue-bold";
  src: url("Font.woff2") format("woff2"), url("Font.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
