.popular {
  /* margin-top: 35px; */

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.popular > div {
  display: flex;
  gap: 15px;
  overflow: hidden;
  overflow-x: scroll;
  width: 100%;
}

.popular .item-card {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
}

.popular .item-card > div:first-of-type > img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 0.6;
}
.popular .item-card > div:last-of-type {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popular .last-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
  color: rgb(155, 155, 155);
  text-decoration: none;
}

.popular a[class*="card"] {
  width: calc((100% - 75px) / 6);
}
.popular::-webkit-scrollbar {
  width: 0;
  height: 0;
}
@media (max-width: 1170px) {
  .popular a[class*="card"] {
    width: calc((100% - 75px) / 5.5);
    flex-shrink: 0;
  }
}
@media (max-width: 960px) {
  .popular a[class*="card"] {
    width: calc((100% - 60px) / 4.5);
  }
}
@media (max-width: 720px) {
  .popular a[class*="card"] {
    width: calc((100% - 30px) / 2.5);
  }
}
