.wrapper {
  width: 1130px;
  margin: 0 auto;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.hero {
  width: 100%;
  position: relative;
}
.dechirer {
  position: absolute;
  width: 50%;
  right: 0;
  bottom: 0;
}
.image-hero {
  width: 100%;
  object-fit: cover;
  height: 430px;
}

.bloc-top {
  width: 380px;
  height: 300px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 35px;
  gap: 15px;
  border-radius: 5px;
  position: absolute;
  top: 15%;
}

.bloc-top > a:first-of-type {
  height: 40px;
  background-color: #007580;
  color: white;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.bloc-top > a {
  color: #80bbc0;
}

h2 {
  font-family: maison-neue-bold, sans-serif;
  font-size: 38px;
  margin-bottom: 25px;
}

h3 {
  font-family: maison-neue-bold, sans-serif;
  font-size: 24px;
  font-weight: bold;
}
h4 {
  font-family: maison-neue-bold, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

label {
  font-family: maison-neue-bold, sans-serif;
  font-size: 16px;
}
p {
  font-family: maison-neue, sans-serif;
  font-size: 14px;
}

.info {
  font-family: maison-neue, sans-serif;
  font-size: 12px;
  color: #757575;
}

button {
  font-family: maison-neue-bold, sans-serif;
  font-size: 16px;
  cursor: pointer;
}

a {
  font-family: maison-neue, sans-serif;
  font-size: 14px;
}

.offer-page {
  background-color: #f2f2f2;
  min-height: 100vh;
}

.offer-page > div {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  gap: 20px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*--------------------------offer page--------------------------------------------------------- */
.offer-page > div > div {
  flex: 3;
}
.offer-page > div > section:first-of-type {
  width: 100%;
}
.offer-page .item-pictures {
  width: 100%;
  overflow: hidden;
  overflow-x: scroll;
  display: flex;
  gap: 20px;
}
.offer-page .item-pictures > div {
  flex-shrink: 0;
  width: calc((100% - 40px) / 2.5);
}
.offer-page .item-pictures img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 0.6;
}

.offer-page > div > div > div {
  background-color: white;
  padding: 20px 25px;
  margin: 30px 0;
}

.offer-page > div > div > .owner-offers {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 15px;
}

.offer-page .owner-offers > .item-card {
  width: calc((100% - 50px) / 4);
  margin-bottom: 35px;
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
}

.owner-offers .item-card .item-image {
  width: 100%;
}

.owner-offers .item-image > img {
  width: 100%;
  aspect-ratio: 0.65;
  object-fit: cover;
}
.owner-offers .item-card .owner {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0 0 0px;
}

.owner-offers .item-card .owner > div > .icon-standar {
  background-color: #007580;
  color: white;
  border-radius: 50%;
  padding: 5px;
  text-align: center;
}

.owner-offers .owner img {
  object-fit: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.owner-offers .item-card div:last-of-type {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 10px 10px 5px;
}

.producte-name {
  font-size: 18px;
  font-weight: bold;
}

/*----------------------offer page aside---------------------------------------------------------*/
.offer-page > div > aside {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}
.offer-page > div > aside > section {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 25px 20px;
  gap: 20px;
}

.offer-page aside .item-infos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.offer-page .item-infos .item-price {
  font-size: 30px;
  font-weight: bold;
  font-family: maison-neue-bold, sans-serif;
  border-bottom: 1px solid rgb(224, 224, 224);
  padding-bottom: 20px;
}
.offer-page .item-infos .item-details {
  font-family: maison-neue, sans-serif;
  font-size: 12px;
  color: #757575;
  text-transform: uppercase;
  border-bottom: 1px solid rgb(224, 224, 224);
  padding-bottom: 20px;
}

.offer-page .item-details > p {
  display: flex;
  justify-content: space-between;
}
.offer-page .item-details > p > span:first-child {
  text-align: left;
}
.offer-page .item-details > p > span:last-child {
  text-align: right;
}

.offer-page .item-description {
  color: #171717;
  font-size: 16px;
  border-bottom: 1px solid rgb(224, 224, 224);
  padding-bottom: 20px;
}
.offer-page .item-send-info {
  padding-bottom: 20px;
}

.offer-page .item-send-info > p {
  display: flex;
  justify-content: space-between;
}
.offer-page .item-send-info > p > span:first-child {
  text-align: left;
  text-transform: uppercase;
}
.offer-page .item-send-info > p > span:last-child {
  text-align: right;
  color: #757575;
  text-transform: uppercase;
}
.offer-page .item-details .sold {
  color: red;
  font-weight: bold;
}
.offer-page .item-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.offer-page .item-buttons button,
.offer-page .item-buttons a,
.offer-page .modal a {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
  border: #007782 1px solid;
  border-radius: 5px;
  color: #007782;
}
.offer-page .item-buttons a,
.offer-page .modal a {
  background-color: #007782;
  border: #007782 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.offer-page .item-buttons .disabled {
  background-color: lightgray;
  border: lightgray 1px solid;
  color: white;
}
.offer-page .item-buttons button:last-child {
  background-color: white;
  border: #757575 1px solid;

  color: #757575;
}

.offer-page .item-protect-customer {
  display: flex;
  align-items: start;
  gap: 10px;
}
.offer-page .item-protect-customer > div:first-of-type {
  padding: 10px;
  color: #007782;
  background-color: #83c7cd;
  border-radius: 50%;
}
.offer-page .item-protect-customer h3 {
  font-size: 16px;
}

.offer-page .item-protect-customer p {
  color: #757575;
}

.offer-page .item-protect-customer a {
  color: #007580;
}

.offer-page aside > section:last-child > div {
  display: flex;
  gap: 10px;
  align-items: center;
}
.offer-page aside > section:last-child > div > .icon-standar {
  background-color: #007580;
  color: white;
  border-radius: 50%;
  padding: 5px;
  text-align: center;
}

.offer-page aside > section:last-child > div img {
  object-fit: cover;
  width: 25px;
  border-radius: 50%;
  height: 25px;
}
.offer-page .small-screen-offer {
  display: none;
}
.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.filter {
  padding: 10px 15px;
  background-color: #f2f2f2;
  border-radius: 5px;
  border: #757575 1px solid;
  font-family: maison-noeue, sans-serif;
  cursor: pointer;
}

.filters > div {
  position: relative;
}

.input-filter {
  position: absolute;
  background-color: white;
  padding: 20px 10px 20px 10px;
  box-shadow: 0px 0px 30px lightgray;
  border-radius: 5px;
  bottom: -90px;
  z-index: 1;
}
.input-filter input {
  border: none;
  padding: 10px 10px;
  background-color: lightgray;
  border-radius: 5px;
}
.sort form,
.price form {
  display: flex;
  gap: 20px;
}

.sort {
  width: 250px;
  bottom: -70px;
}
/*----------------------Offer Modal Redirection---------------------------------------------------------*/
.offer-page .modal {
  height: 100%;
  position: fixed;
}
.offer-page .modal-offer-redirection {
  position: fixed;
  font-size: 24px;
  text-align: center;
  justify-content: space-around;
  height: 300px;
}

/*----------------------PublishPage---------------------------------------------------------*/
.publish {
  background-color: #f2f2f2;
  min-height: 100vh;
}
.publish > form > h3 {
  margin-top: 60px;
}
.publish > form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.publish > form > div {
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.publish > form > div > div {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.publish > form > div > div:not(:last-of-type) {
  border-bottom: 1px solid black;
}
.publish .publish-principals-infos input,
.publish textarea,
.publish .publish-details input {
  flex: 1;
  padding: 10px;
  border: none;
  border-bottom: 1px solid lightgray;
}
.publish textarea {
  resize: none;
  height: 300px;
}
.publish label {
  width: 100%;
  flex: 1;
}
.price-publish-Section {
  flex-direction: column;
  gap: 20px;
}
.price-publish-Section > div:first-of-type {
  display: flex;
}
.price-publish-Section > div:first-of-type > input {
  flex: 1;
  padding: 10px;
  border: none;
  border-bottom: 1px solid lightgray;
}
.price-publish-Section > div:last-child {
  display: flex;
}
.price-publish-Section > div:last-child > div:first-of-type {
  flex: 1;
}
.price-publish-Section > div:last-child > div:last-child {
  flex: 1;
  display: flex;
  gap: 10px;
  align-items: center;
}
.publish input[type="submit"] {
  align-self: flex-end;
  background-color: #007782;
  color: white;
  font-family: mainson-noeue, sans-serif;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
}
.error-Message {
  font-family: maison-noeue, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: red;
}
/*----------------------Payment---------------------------------------------------------*/
.payment-page {
  height: 100vh;
  background-color: #f2f2f2;
}
.payment-page > div {
  margin-top: 40px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 600px;
  margin: 40px auto 0;
}
.resum-section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-bottom: 1px solid rgb(211, 210, 210);
}

.resum-section > h4 {
  color: #c6c6c6;
  font-size: medium;
}
.resum-section > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.resum-section > div > p {
  display: flex;
  justify-content: space-between;
}
.total-price > P {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
/*---------------------Purchases/sales Page---------------------------------------------------------*/
.purchases-page,
.sales-page {
  background-color: #f2f2f2;
  min-height: 100vh;
  padding-top: 60px;
}

.purchases-page > section:first-of-type,
.sales-page > section:first-of-type {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}
.purchases-page h2,
.sales-page h2 {
  font-size: 24px;
  font-weight: bold;
}
.purchases-page .purchase-card,
.sales-page .sale-card {
  background-color: white;

  width: 100%;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 30px;
}

.sales-page .sale-card h4,
.purchases-page .purchase-card h4 {
  margin-bottom: 40px;
}
.sales-page .sale-card > div,
.purchases-page .purchase-card > div {
  display: flex;
  width: 100%;
  gap: 30px;
}
.sales-page .sale-card a,
.purchases-page .purchase-card a {
  flex: 0.2;
}
.sales-page .sale-card .sale-details,
.purchases-page .purchase-card .purchase-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  color: #757575;
  text-transform: uppercase;
}
.sales-page .sale-card img,
.purchases-page .purchase-card img {
  object-fit: cover;
  width: 100%;
}
.sale-details > p,
.purchase-details > p {
  display: flex;
  justify-content: space-between;
}
.no-sale,
.no-purchase {
  background-color: white;
  border-radius: 5px;
  width: 500px;
  margin: 60px auto;
  padding: 20px;
}
.sales-page > .no-sale a,
.purchases-page > .no-purchase a {
  margin-top: 30px;
  background-color: #007782;
  border: #007782 1px solid;
  border-radius: 5px;
  height: 30px;
  color: white;
  text-align: center;
  padding: 5px 10px;
  font-size: 16px;
  text-decoration: none;
}

.not-connected {
  margin: 60px;
  text-align: center;
  width: 80%;
  margin: 60px auto;
}

.sales-page .owner-offers > div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.sales-page .owner-offers a {
  width: calc((100% - 50px) / 4);
  margin-bottom: 35px;
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
}

.sales-page .item-card .item-image {
  width: 100%;
}

.sales-page .item-image > img {
  width: 100%;
  aspect-ratio: 0.65;
  object-fit: cover;
}
.sales-page .item-card .owner {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0 0 0px;
}

.sales-page .item-card .owner > div > .icon-standar {
  background-color: #007580;
  color: white;
  border-radius: 50%;
  padding: 5px;
  text-align: center;
}

.sales-page.owner img {
  object-fit: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.sales-page .item-card div:last-of-type {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 10px 10px 5px;
}

.producte-name {
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 1170px) {
  .wrapper {
    width: calc(100% - 40px);
    /* width: 100vw; */
    margin: 0 20px;
  }

  .offer-page .owner-offers > .item-card {
    width: calc((100% - 45px) / 4);
  }
  .sort form,
  .price form {
    flex-direction: column;
  }
  .price {
    bottom: -140px;
  }
  .sort {
    width: 130px;
    bottom: -110px;
  }
}
@media (max-width: 960px) {
  .offer-page .small-screen-offer {
    display: flex;
    order: -2;
  }
  .offer-page .large-screen-offer {
    display: none;
  }

  .offer-page .item-pictures > div {
    flex-shrink: 0;
    width: calc((100% - 40px) / 2.5);
  }

  .offer-page > div {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 20px;
  }
  .sales-page .owner-offers a,
  .offer-page .owner-offers > .item-card {
    width: calc((100% - 30px) / 3);
  }
  .offer-page aside .item-infos {
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 10px;
  }

  .offer-page .item-infos .item-price {
    padding: 0 20px;
    flex: 1;
  }
  .item-price p {
    font-size: 25px;
  }
  .offer-page .item-infos .item-details {
    flex: 1.7;
  }
  .offer-page .item-buttons {
    width: 100%;
    align-items: flex-end;
  }

  .offer-page .item-buttons button,
  .offer-page .item-buttons a {
    width: 50%;
  }
  .offer-page > div > aside {
    order: -1;
  }
}
@media (max-width: 720px) {
  p {
    font-size: 12px;
  }
  .offer-page aside .item-infos {
    flex-direction: column;
  }
  .offer-page .item-infos .item-price {
    padding: 20px 0;
  }
  .offer-page .item-buttons button,
  .offer-page .item-buttons a {
    width: 100%;
  }
  .sales-page .owner-offers a,
  .offer-page .owner-offers > .item-card {
    width: calc((100% - 20px) / 2);
  }
  .owner-offers .item-card .owner {
    margin: 5px 0 0 0;
    gap: 0;
  }

  .owner-offers .item-card .owner > div > .icon-standar {
    font-size: 6px;
  }

  .owner > div > img {
    object-fit: cover;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
  .owner-offers .item-card div:last-of-type {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  .producte-name {
    font-size: 12px;
  }
  .dechirer {
    width: 100%;
    bottom: 0;
  }
  .hero {
    display: flex;
    flex-direction: column;
  }
  .hero-bloc {
    position: relative;
  }
  .bloc-top {
    height: auto;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 35px 0px;
    position: relative;
  }
  .bloc-top > button {
    width: 100%;
  }

  .bloc-top h2 {
    font-size: 24px;
  }
  .bloc-top > a {
    color: #80bbc0;
  }
  .publish > form > div > div {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .price-publish-Section > div:first-of-type {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
